<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href={{ site.url }}/>HOME</a></li>
            <li class="nav-item"><a class="nav-link" href={{ site.url}}/resume>R&Eacute;SUM&Eacute;</a></li>
            <li class="nav-item"><a class="nav-link" href={{ site.url }}/projects>PROJECTS</a></li>
            <li class="nav-item"><a class="nav-link" href={{ site.url }}/about>ABOUT</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/ryan-dullaert">LINKEDIN (ext.)</a></li>
        </ul>
    </div>
</nav>
